/*Serch*/
#saerch{
    padding-top: 44px;

    display: flex;
     justify-content: center;
     align-items: center;
}
#saerch1{
    height: 38px;
    width: 266px;
}
#filtro{
    height: 38px;
    width: 238px;
}
#search2{
    width: 260px;
    display: flex;
    align-items: center;
}
#txtbuscar{
    height: 32px;
    width: 222px;
}
#imgSearch{  
    width: 38px;
    height: 38px;
    background: #a5cd39;

    display: flex;
    align-items: center;
    justify-content: center;
}
